@import "tailwindcss";

.h1 {
  @apply pb-8 text-3xl font-bold text-[#f1f1f1] mb-6;
}

.h2 {
  @apply pb-2 text-2xl font-bold text-[#f1f1f1] mb-6;
}

.p {
  @apply text-justify text-base/8 text-[#f1f1f1];
  font-family: 'Century Gothic', "Public Sans", sans-serif;
}

.link {
  @apply text-[#f1f1f1] underline underline-offset-auto hover:text-[#69dac7];
}

.hook {
  @apply py-3 text-2xl/8 text-[#69dac7] font-normal flex flex-col items-center justify-center;
  font-family: 'Century Gothic', "Public Sans", sans-serif;
}

.navbar {
  @apply px-8 py-4 bg-[#111111] text-[#f1f1f1] flex items-center justify-center shadow-md;
  font-family: 'Century Gothic', "Public Sans", sans-serif;
}

.navbarButton {
  @apply p-4 text-[#f1f1f1] hover:text-[#69dac7] flex space-x-6 font-medium;
}

.footer {
  @apply bg-[#111111] text-[#f1f1f1] flex flex-col items-center justify-center p-6 text-center font-medium;
  font-family: 'Century Gothic', "Public Sans", sans-serif;
}

.copyrights {
  @apply text-xs;
}

.main {
  @apply bg-[#1e2422] text-[#f1f1f1] flex flex-col items-center px-6 py-10 justify-center;
  font-family: 'Century Gothic', "Public Sans", sans-serif;
}

.inputForm {
  @apply w-full p-2 text-[#1e2422] bg-[#f1f1f1] rounded-lg pl-10 pr-4 py-2 focus:ring-2 focus:ring-[#69dac7] focus:outline-none;
}

.sendButton {
  @apply bg-[#69dac7] hover:bg-[#69dac7ad] text-black font-medium py-3 my-4 px-6 rounded-full shadow-md transition duration-300 inline-flex items-center gap-2;
}